<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serving stattc files</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="card">
      <h2>Welcome to Demo Api</h2>
      <p>This is a demo dummy API data built using Node js and express js</p>
      <p>This is a single HTML page serving stattc files</p>
    </div>
  </body>
</html>
